.button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    button {
        margin-bottom: 20px;
    }
}

.card-container {
    width: 100%;
}

mat-card {
    margin-bottom: 30px;
}

p {
    margin-top: 10px;
}