<mat-toolbar>
    <button class="btn-title" color="primary" mat-flat-button (click)="on_navigate('/home')">
        Chat GPT Demo App
    </button>
    <span class="example-spacer"></span>
    <button color="primary" mat-flat-button (click)="on_navigate('/home')">
        Home
    </button>
    <button color="primary" mat-flat-button (click)="on_navigate('/favorite')">
        Favorite
    </button>
    <button color="primary" mat-flat-button (click)="on_navigate('/scraping')">
        Scraping
    </button>
</mat-toolbar>